@charset "UTF-8";
body {
  height: 2000px;
  /* подсказка должна работать и после прокрутки страницы */
}

.tooltip {
  position: fixed;
  z-index: 100;
  padding: 10px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #b3c9ce;
  border-radius: 4px;
  text-align: center;
  font: italic 14px/1.3 sans-serif;
  color: #333;
  background: #fff;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

#house {
  margin-top: 50px;
  width: 400px;
  border: 1px solid brown;
}

#roof {
  width: 0;
  height: 0;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  border-bottom: 20px solid brown;
  margin-top: -20px;
}

p {
  text-align: justify;
  margin: 10px 3px;
}

.hours {
  color: red;
}

.minutes {
  color: green;
}

.seconds {
  color: blue;
}

.clock {
  border: 1px solid black;
  padding: 5px;
  display: inline-block;
  background: yellow;
  position: absolute;
  left: 0;
  top: 0;
}

#tooltip {
  position: absolute;
  background: #eee;
  border: 1px brown solid;
  padding: 3px;
}
